<div class="container text-white bg-dark p-3 br " >
    <div class="row">
        <div class="col mb-5 border border-white m-1" style="text-align: center" *ngFor="let deaths of Deaths" >
            <div class="Descripcion" style="text-align: justify;" >
                <p title="name">{{deaths.name}}</p>
                <p title="deathCount">{{deaths.deathCount}}</p>
            </div>
        </div>
    </div>
</div>