<!-- <a routerLink="home">Ir a Home</a> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-8bits" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container text-white bg-dark p-3 br " >
    <div class="row">
            
        <div class="col mb-5 border border-white m-1" style="text-align: center" *ngFor="let personaje of personajes" >
            <div class="bg-image hover-zoom">
                <img class="card-img-top" style="width: 120px; height: 150px;" src={{personaje.img}}>
            </div>
            <div class="Descripcion" style="text-align: justify;" >
                <p title="name">{{personaje.name}}</p>
                <p title="birthday">{{personaje.birthday}}</p>
                <p title="occupation">{{personaje.occupation}}</p>
                <p title="status">{{personaje.status}}</p>
                <p title="nickname">{{personaje.nickname}}</p>
                <p title="portrayed">{{personaje.portrayed}}</p>
                <p title="category">{{personaje.category}}</p>
            </div>
        </div>
    </div>
</div>