@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.fondo {
    position: fixed;
    margin-top: -80px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.title {
    text-align: center;
}

.title h1 span {
    font-weight: bold;
    font-size: 3.5rem;
    color: lime;
    font-family: "Dancing Script", cursive;
}

p {
    margin-top: 10px;
    text-align: justify;
}

p:hover {
    border: 1px solid white;
    cursor: pointer;
}

.margen {
    margin: 0 0 50px 0;
}

.card {
    text-align: center;
    max-width: 400px;
    height: 460px;
    cursor: pointer;
}

.card img {
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
    height: 200px;
    width: 100%;
}

.row {
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 0 10px lawngreen;
}

#green {
    color: black;
    font-size: 1.5rem;
    animation: parpadearG 2s infinite backwards;
}

#red {
    color: black;
    font-size: 1.5rem;
    animation: parpadearR 2s infinite backwards;
}

@keyframes parpadearG {
    to {
        color: lime;
        text-shadow: 1px -1px 15px greenyellow;
    }
}

@keyframes parpadearR {
    to {
        color: rgba(255, 0, 0, 0.678);
        text-shadow: 1px -1px 15px rgb(255, 82, 82);
    }
}