<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-8bits" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- Nuevo Estilo de Rick and Morty 2023 8° Semestre-->
<img src="../assets/RyM.jpeg" alt="" class="fondo">
<div class="title">
    <h1 style="color: white"><span>Rick</span> And <span>Morty</span></h1>
</div>
<div class="row m-3">
    <div class="col-sm-2" *ngFor="let personaje of personajes">
        <div class="card margen">
            <div class="card border-danger">

                <div class="image">
                    <a href="https://is.gd/lWfW6C"><img
                            src={{personaje.image}} /></a>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p title="name">{{personaje.name}}</p>
                        <ng-container *ngIf="personaje.status == 'Alive'; else dead">
                            <p id="green">{{personaje.status}}</p>
                        </ng-container>
                        <ng-template #dead>
                            <p id="red">{{personaje.status}}</p>
                        </ng-template>

                        <p title="species">{{personaje.species}}</p>
                        <p title="type">{{personaje.type}}</p>
                        <p title="gender">{{personaje.gender}}</p>
                    </div>
                </div>
                <!-- <div class="card-footer">
                        <small class="text-muted"></small>
                    </div> -->
            </div>
        </div>
    </div>

    <!-- Antiguo estilo de rick and morty 2022 7° Semestre-->
    <!-- <div class="container text-white bg-dark p-3 br ">
        <div class="row">
            <div class="col mb-5 border border-white m-1" style="text-align: center"
                *ngFor="let personaje of personajes">
                <div class="bg-image hover-zoom">
                    <img class="card-img-top" style="width: 120px; height: 150px;" src={{personaje.image}}>
                </div>
                <div class="Descripcion" style="text-align: justify;">
                    <p title="name">{{personaje.name}}</p>
                    <p title="name">{{personaje.status}}</p>
                    <p title="name">{{personaje.species}}</p>
                    <p title="name">{{personaje.type}}</p>
                    <p title="name">{{personaje.gender}}</p>
                </div>
            </div>
        </div>
    </div> -->