@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
#RyM{
    -webkit-text-stroke: 1px lime;
    color: white;
    font-size: 2rem;
    font-family: "Fredoka One";
    /* text-shadow: 10px -2px 15px lime; */
    /* text-shadow: 0px 0px 2px lime; */
}