<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">ISC</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="dos">Features</a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="tres">Pricing</a> -->
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link disabled" routerLink="cuatro">Disabled</a> -->
        </li>
        <li class="nav-item active">
          <a class="nav-link" id="RyM" routerLink="rick-morty">Rick & Morty <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" routerLink="code-enigma">Codigo Enigma</a> -->
        </li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>