p{
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 1% 5%;
    /* background: red; */
}
.imageAlan img{
    position: relative;
    float: left;
    width: 300px;
}
.Bibliografia{
    margin-left: 330px;
    text-align: justify;
}
.Bibliografia h3 p{
    font-size: small;
}
.Titulo{
    text-align: center;
    margin-top: 22rem;
    clear: both;
}
.subtitulo p{
    margin: 20px;
    text-align: justify;
}
.Personajes{
    margin: 0% 2%;
}
.Personajes .cards{
    border-radius: 20px;
    border: 1px solid black;
    float: left;
    margin-left: 20px;
    margin-bottom: 10px;
}
.Personajes .cards img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;
    height: 230px;
}

.Personajes .cards p:hover{
    background-color: antiquewhite;
    transition: 0.5s;
}