<div class="container text-white bg-dark p-3 br " >
    <div class="row">
        <div class="col mb-5 border border-white m-1" style="text-align: center" *ngFor="let episodio of episodes" >
            <div class="Descripcion" style="text-align: justify;" >
                <p title="episode_id">{{episodio.episode_id}}</p>
                <p title="title">{{episodio.title}}</p>
                <p title="season">{{episodio.season}}</p>
                <p title="episode">{{episodio.episode}}</p>
                <p title="air_date">{{episodio.air_date}}</p>
                <p title="characters">{{episodio.characters}}</p>
            </div>
        </div>
    </div>
</div>