<div class="container text-white bg-dark p-3 br " >
    <div class="row">
        <div class="col mb-5 border border-white m-1" style="text-align: center" *ngFor="let quotes of Quotes" >
            <div class="Descripcion" style="text-align: justify;" >
                <p title="quote_id">{{quotes.quote_id}}</p>
                <p title="quote">{{quotes.quote}}</p>
                <p title="author">{{quotes.author}}</p>
            </div>
        </div>
    </div>
</div>